/data
CapstoneDrafts/data/2016Q2-capitalbikeshare-tripdata.csv
CapstoneDrafts/data/2016Q3-capitalbikeshare-tripdata.csv
CapstoneDrafts/data/2016Q4-capitalbikeshare-tripdata.csv
CapstoneDrafts/data/2017Q1-capitalbikeshare-tripdata.csv
CapstoneDrafts/data/2017Q2-capitalbikeshare-tripdata.csv
CapstoneDrafts/data/2017Q3-capitalbikeshare-tripdata.csv
CapstoneDrafts/data/2017Q4-capitalbikeshare-tripdata.csv
CapstoneDrafts/data/2015Q1-capitalbikeshare-tripdata.csv
CapstoneDrafts/data/2015Q2-capitalbikeshare-tripdata.csv
CapstoneDrafts/data/2015Q3-capitalbikeshare-tripdata.csv
CapstoneDrafts/data/2015Q4-capitalbikeshare-tripdata.csv
